.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 4rem 4rem 8rem;
}

.about-description {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.wrapper-text {
  box-sizing: border-box;
  height: 70px;
  display: flex;
}

.word {
  display: block;
  height: 100%;
  margin left: 0.7rem;
  animation : spin_word 8s infinite;
  font-style: italic;
  color: var(--accent-color);
}

.animation {
  display: inline-flex;
  flex-direction: column;
  margin-left: 0.7rem;
  height: 5rem;
  overflow: hidden;

} 

@keyframes spin_word {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}


.line-grade {
  border: 0;
  width: 2rem;
  height: 4px;
  background: var(--accent-color);
}

.date-graduation {
  font-weight: 700;
  color: var(--accent-color);
}

.graduations-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
  max-width: 80%;
  flex-wrap: wrap;
}

.graduations {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .about-description {
    padding: 0;
  }

  .about-text {
    margin: 2rem 0;
  }

  .graduations-container {
    max-width: 100%;
  }
}
