.contact-section {
  margin: 4rem 4rem 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.contact-content {
  background: var(--light-background);
  padding: 4rem 4rem 4rem 8rem;
}

.contact-title {
  z-index: 1;
  font-size: 2.5rem;
  position: absolute;
  margin-bottom: 15.5rem;
  font-family: var(--font-lilita);
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

@media (max-width: 768px) {
  .contact-section {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .contact-content {
    padding: 2rem;
  }

  .contact-title {
    font-family: var(--font-lilita);
    font-size: 2rem;
  }
}
