:root {
  font-family: "Fira Sans Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--white);

  --black: #272727;
  --white: #f3f3f3;
  --accent-color: #d2afe2;
  --light-background: #685074;
  --dark-background: #472d54;
  --dot-color: rgba(181, 158, 191, 0.57);

  --font-lilita: "Lilita One", cursive;
  --accent-font: "Praise", cursive;

  background-color: #472d54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 4px;
  background: var(--white);
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
